@font-face{
	font-family: Monserrat;
	src: url("../font/Montserrat-Regular.ttf") format("truetype");
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Monserrat;
}
header{
	position: relative;
}
img{
	width: 100%;
	vertical-align: top;
}
.enlaces{
display: none;
}
.burger{
	width: 50px;
	display: block;
}
nav{
	display: grid;
	justify-content: end;
	height: 48px;
}
.titular{
	display: none;
}
section h1{
	font-size: 2em;
	margin: 20px 20px 0;
}
.bloque{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-template-rows: auto;
	grid-column-gap: 20px;/*separacion filas y columnas*/
	grid-row-gap: 20px;
	padding: 20px;
}
article{
	position: relative;
}
.duracion{
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: white;
	padding: 4px 10px;
	font-size: 0.9em;
}

.titulo{
	padding: 12px;
	border-top: 1px dotted black;
}
.enlacesJS{
	position: absolute;
	top: 48px;
	right: 0px;
	display: grid;
	grid-template-columns: 175px;
	grid-template-rows:repeat(4, 50px) ;
	z-index: 1;
}
article{
	border: 1px solid gray;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}
article:hover{
	border:1px solid black;
}
.bloque a{
	text-decoration: none;
	color: black;
}
@media only screen and (min-width:800px){
	.burger{
		display: none;
	}
	.enlaces{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 48px;
		position: relative;
		top: 0px;
	}
	nav{
		grid-template-columns: 1fr;
	}
	nav a{
		text-decoration: none;
		font-size: calc(1.3vw + 12px);
		text-align: center;
		line-height: 48px;
		background-color: #e54c29;
		color: white;
		border-right: 1px dotted white;
	}
}
@media only screen and (min-width: 400px){
	nav a{
		text-decoration: none;
		font-size: calc(1.3vw + 12px);
		text-align: center;
		line-height: 48px;
		background-color: #e54c29;
		color: white;
		border-right: 1px dotted white;
}
.titular{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	margin: auto;
	text-align: center;
}
.titular span{
	background-color: rgba(255, 255, 255, 0.88);
	font-size: calc(1.6vw + 14px);
	font-weight: bold;
	padding: 10px 25px;
 }
}
